<h1>Form Add:</h1>

<form action="/add-user" method="POST">
    <label for="">First Name</label>
    <input type="text" placeholder="Jhon"  name="firstName"> <br>
    <label for="">Last Name</label>
    <input type="text" placeholder="Doe" name="last_name"> <br>
    <label for="">Email</label>
    <input type="text" placeholder="email" name="email"> <br>
    <label for="">Gender</label>
    <input type="text" placeholder="gender" name="gender"> <br>
    <input type="submit" value="Add">
</form>

<button>
    <a href="/user">Back</a>
</button>
